
html,body {
  background-color:#666;
  margin:0;
  height: 1500px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color:#333;
}
header {
	width: 100%;
	background-color: #e5e5e5;
	position: fixed;
	font-size: 1.2em;
  height: 30px;
  padding: 25px;
  transition: 0.3s ease;  
}